
body{
    background-image: url("../images/castle1.png");
    
}


/* /* This is for the images */

.round{
    height: 150px;
    width: 140px;
    border-radius: 50%;
    margin-top:15px;
    /* position: relative;
    left:50px; */
    
}

/* This is for reset button */
.resetb{
    /* position: relative;
    top: 20px;
    left: 180px; */
}

/* This is for the text on top */
#intro{
    color:rgb(247, 215, 37);
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    /* position: relative;
    left: 100px;
    top: 10px; */
    font-size:28px;
}

/* This is for player and cpu */
#ids{
    color:rgb(247, 215, 37);
    font-family: "Times New Roman", Times, serif;
    font-size:28px;
}

/* This is for hovering over images */

        /* John Snow */
#johnSnow:hover .john-image{
    opacity: 0.3;
  }

#johnText {
    color: rgb(247, 215, 37);
    font-size: 14px;
    text-align: center;
    padding-left: 39px;
    padding-right: 35px;
   
  }

#johnMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }

#johnSnow:hover #johnMiddle {
    opacity: 1;
}

    /* Daenerys */

#daenerys:hover .daenerys-image{
    opacity: 0.3;
}
    
#daenerysText {
    color: rgb(247, 215, 37);
    font-size: 14px;
    text-align: center;
    padding-left: 39px;
    padding-right: 35px;
       
}
    
#daenerysMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        
}
    
#daenerys:hover #daenerysMiddle {
    opacity: 1;
}

        /* Jaime Lannister */

#jaime:hover .jaime-image{
    opacity: 0.3;
}
            
#jaimeText {
    color: rgb(247, 215, 37);
    font-size: 14px;
    text-align: center;
    padding-left: 39px;
    padding-right: 35px;
               
}
            
#jaimeMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
                
}
            
#jaime:hover #jaimeMiddle {
    opacity: 1;
}

        /* Night King  */
#nightKing:hover .nightKing-image{
    opacity: 0.3;
}
            
#nightKingText {
    color: rgb(247, 215, 37);
    font-size: 14px;
    text-align: center;
    padding-left: 39px;
    padding-right: 35px;
               
}
            
#nightKingMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
                
}
            
#nightKing:hover #nightKingMiddle {
    opacity: 1;
}

/* battle area */

#def{
    position: relative;
    left: 280px;
}

#pla{
    position:relative;
    left:150px;
}